/* 전체 레이아웃 설정 */
.responsive_main {
    max-width: 1376px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}

/* 미디어 쿼리 */
@media (max-width: 768px) {
    .responsive_main {
        max-width: 100%;
        padding: 0 8px;
    }
}

/* 헤더 스타일링 */
.Header_innerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.HeaderLogo_Block .velogLogo {
    height: 30px;
}

.Header_right * {
    display: flex;
    align-items: center;
    position: relative;
}

.Header_right .RoundButton_block {
    background-color: #212529;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
}

.Header_right .RoundButton_write {
    background-color: #F8F9FA;
    color: #212529;
    border: 1px solid;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    cursor: pointer;
    font-weight: 700;
    margin-right: 8px;
    margin-left: 8px;
    height: auto;
    font-size: 1.1rem;
    text-decoration: none;
}

.RoundButton_write:hover {
    background-color: #212529;
    color: #F8F9FA;
}

a .RoundButton_write {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    background: #F8F9FA;
}

body, html {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

body {
    box-sizing: border-box;
}

.HomeTab_wrapper {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.HomeTab_left {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    height: 48px;
}

a {
    text-decoration: none; /* a 태그의 기본 밑줄 스타일 제거 */
}

.HomeTab_tab {
    display: flex;
    position: relative;
}

.HomeTab_tab a {
    font-size: 1.3rem;
}

.HomeTab_tab a svg {
    font-size: 30px;
    margin-left: 8px;
    margin-right: 0.4rem;
}

.HomeTab_tab a+a {
    margin-left: 20px;
}

.HomeTab_non_active {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    white-space: nowrap;
    color: #868E96;
}

.HomeTab_active {
    color: #212529;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    white-space: nowrap;
    position: relative; /* 추가: 하단 바의 위치 기준점 */
    padding-bottom: 4px; /* 추가: 하단 바와 텍스트 사이 간격 */
}

.HomeTab_active::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px; /* 하단 바의 두께 */
    background-color: #212529; /* 하단 바의 색상 */
}

.HomeTab_right {
    position: relative;
    display: flex;
}

.HomeTab_selector {
    background: #FFFFFF;
    height: 34px;
    width: 92px;
    border: 1px solid #e0e0e0; /* 테두리 추가 */
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
    font-weight: 600;
    color: #49509D;
    font-size: 1rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, .05);
    cursor: pointer;
}

.HomeTab_selector svg {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.HomeTab_right_dot {
    margin-top: 5px;
    cursor: pointer;
    font-size: 24px;
    color: #868E96;
}

.TimeframePicker_aligner {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 5;
    transform-origin: top right;
}

.TimeframePicker_block {
    margin-top: 8px;
    width: 200px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    background: #FFF;
    border-radius: 4px; /* 모서리 둥글게 */
    border: 1px solid #e0e0e0; /* 테두리 추가 */
    overflow: hidden; /* 내부 요소가 둥근 모서리를 벗어나지 않도록 */
}

.TimeframePicker_block ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.TimeframePicker_block li {
    cursor: pointer;
}

.TimeframePicker_block li a {
    display: block;
    padding: 10px 12px; /* 패딩 조정 */
    text-decoration: none;
    /*background: #FFF;*/
    color: #212529;
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 16px; /* 글꼴 크기 조정 */
}

.TimeframePicker_block li a:hover,
.TimeframePicker_block li a.active {
    background-color: #e6f3e6; /* 선택된 항목 배경색 */
    color: #2ecc71; /* 선택된 항목 텍스트 색상 */
}

.HomeLayout_main {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 16px;
}

.HomeLayout_main main {
    width: 100%;
}

main {
    display: block;
    unicode-bidi: isolate;
}

.PostCardGrid_block {
    background-color: #F8F9FA;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.grid_homeGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 0;
    margin: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    unicode-bidi: isolate;
}

.PostCard_block {
    display: flex;
    flex-flow: column;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .04);
    transition: box-shadow .3s ease-in, transform .3s ease-in;
    overflow: hidden;
}

.PostCard_block:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .15);
}

.PostCard_styleLink {
    display: block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.RatioImage_block {
    padding-top: 52.19%;
    width: 100%;
    position: relative;
}

.RatioImage_block img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.PostCard_content {
    padding: 1.5rem;
    flex-grow: 1;
}

.PostCard_h4 {
    font-size: 1rem;
    margin: 0 0 .25rem;
    line-height: 1.5;
    word-break: break-word;
    color: #212529;
}

.PostCard_descriptionWrapper {
    flex: 1 1;
}

.PostCard_clamp {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orientation: vertical;
    overflow: hidden;
}

.PostCard_clamp p {
    word-break: break-word;
    word-wrap: break-word;
    font-size: .875rem;
    line-height: 1.5;
    color: #495057;
    margin: 0 0 1.5rem;
}

.PostCard_subInfo {
    margin-top: auto;
    font-size: .75rem;
    line-height: 1.5;
    color: #868E96;
}

.PostCard_separator:before {
    content: "\00B7";
    margin: 0 0.25rem;
}

.PostCard_footer {
    padding: 1rem 1.5rem;
    border-top: 1px solid #F1F3F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PostCard_userInfo {
    display: flex;
    align-items: center;
}

.PostCard_userInfo img {
    object-fit: cover;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin-right: .5rem;
}

.PostCard_userInfo span {
    color: #868E96;
}

.PostCard_likes {
    display: flex;
    align-items: center;
    color: #212529;
    font-size: 0.9rem;
}

.PostCard_likes svg {
    width: .75rem;
    height: .75rem;
    margin-right: 0.5rem;
}

.PostCard_likes span {
    padding-bottom: 3px;
}