<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>404 - velog</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script>
  <link rel="shortcut icon" th:href="@{'/profile_image/favicon.ico'}" type="image/x-icon">
  <link rel="icon" th:href="@{'/profile_image/favicon.ico'}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{css/error.css}"/>
</head>
<body>
<div id="root">
  <div class="error_block">
    <img th:src="@{'/profile_image/undraw_page_not_found_su7k.7e3de5e9.svg'}" alt="error">
    <div class="message">아무것도 없네요!</div>
    <div class="button-wrapper">
      <button class="go_to_home"><a th:href="@{/}">홈으로</a></button>
    </div>
  </div>
</div>
</body>
</html>