
html {
    background: #fff;
}

.temp_post_wrapper {
    margin-top: 5rem;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.temp_post_wrapper > h1 {
    line-height: 1.5;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 3rem;
    color: #212529;
}

.each_temp_post {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 1.5;
    border-bottom: 1px solid #DEE2E6;
}

.each_temp_post h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: #212529;
}

.each_temp_post a {
    text-decoration: none;
    color: inherit;
}

.each_temp_post p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #474E55;
}

.each_temp_post section {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 0.875rem;
}

.each_temp_post section .time {
    color: #6B7177;
}

.each_temp_post section .remove {
    cursor: pointer;
    text-decoration: underline;
    color: #1F2326;
    outline: none;
    border: none;
    background: none;
    font-size: inherit;
    padding: 0;
}

/* 모달 버튼 css */
.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.modal_block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 60;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.modal_wrapper {
    width: 25rem;
    border-radius: 4px;
    background: #fff;
    padding: 2rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0 2px 12px 0;
}

.deletePost_modal h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #212529;
    line-height: 1.5;
    font-weight: bold;
}

.delete_message {
    line-height: 1.5;
    font-size: 1rem;
    color: #495057;
    margin-top: 1rem;
    margin-bottom: 1rem;
    white-space: pre-wrap;
}

.delete_buttonArea {
    margin-top: 2rem;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.cancel_button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    color: #12B886;
    border-radius: 4px;
    padding: 0 1.25rem;
    height: 2rem;
    font-size: 1rem;
}

.deletePost_modal .delete_buttonArea button + button {
    margin-left: 0.75rem;
}

.confirm_button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background: #12B886;
    color: #fff;
    border-radius: 4px;
    padding: 0px 1.25rem;
    height: 2rem;
    font-size: 1rem;
}